@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@500;600;700&display=swap');


/* presets */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}

header{
    width: 100%;
    padding: 0 35px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}


body{
    width: 100%;
    height: 100%;
    color: rgb(33, 43, 54);
    font-size: 1rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    line-height: 1.5rem;
}


/* scrollbar  */

body::-webkit-scrollbar{
    width: 8px;
    height: 6px;
    background-color: rgba(145, 158, 171, 0.24);
}


body::-webkit-scrollbar-thumb{
    border: none;
    border-radius: 4px;
    background-color: rgba(99, 115, 129, 0.48);
}


/* utility classes */

.flex{
    display: flex;
    flex-direction: row;
}

.mui-btn{
    /* font-size: 0.875rem; */
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border: 0;
    margin: 0;
    padding: 6px 8px;
    border-radius: 8px;
    cursor: pointer;

}

.jss18{
    width: 100%;
    user-select: none;
}

.jss19{
    /* height: 44px; */
}


.jss20{
    border: 0;
    background: 0;
}

.jss21{
    cursor: pointer;
    padding: 8px 0;
}

.jss22{
    height: 44px;
}

.jss23{
    text-decoration: none;
}

.jss24{
    color: #595959 !important;
    padding: 20px 10px !important;
    font-size: 14px !important;
    font-weight: 700;
    margin-right: 0;
}

.btn-pad{
    text-align: center;
    line-height: 24px;
    background: 0;
    border: 0;
    
}

.btn-pad:hover{
    color: #5c2a5a;
    opacity: .8;
    box-shadow: none;
    background-color:rgb(210, 208, 208) ;
    border-radius: 4px;
}


.primary-btn{
    color: #fff;
    background-color: #824179;
    border-radius: 4px;
    box-shadow: none;
    overflow: hidden;
    line-height: 1.3rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10PX 20PX;
    margin-top: 3px;
}

.mt-5{
    margin-top: 50px;
}


/* header section */

.header{
    top: 0;
    right: 0;
    left: 0;
    position: sticky;
    z-index: 10;
}


.header-logo{
    height: 48px;
    display: flex;
    margin-top: 6px;
    align-items: center;
}

.header-logo{
    box-sizing: border-box;
    margin-right: 30px;
    padding-top: 5px;
}


.header-logo img{
    width: 122px;
    
}


.header-cnt{
    display: flex;
    flex-direction: row;
}


.header-left{
    display: flex;
    width: 70%;
}


.down-arrow{
    width: 12px;
    height: 12px;
    opacity: .6;
    align-self: center;
    margin-left: 10px;
}


.header-right{
    width: 40%;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}


.header-right a{
    text-decoration: none;
    font-size: 14px;
}



/* design section */

.design-section{
    height: 95vh;
    background: linear-gradient(90deg, rgba(213,215,223,1) 0%, rgba(218,218,255,1) 35%, rgba(200,196,255,1) 100%);
}


.curves-style{
    position: absolute;
    left: 0;
    z-index: 1;
    transition: left 1s linear 0s;
    /* transform: translate(20px, 0); */
}


.semi-circle{
    position: absolute;
    top: 45%;
    right: 0;
    z-index: 3;

}


.circle-style{
    position: absolute;
    top: 41%;
    right: 13%;
}

.design-cnt{
    position: unset;
    max-width: 1140px;
    padding: 60px 0 60px 15px;
    margin: 0 auto;
}


.cnt-top{
    text-align: center !important;
    position: relative;
    /* margin: 0 50px; */
    /* padding: 0 10px; */
    z-index: 1;
    /* top: 70px; */
}

.cnt-top h1 {
    line-height: 1.2;
    font-size: 36px;
    font-weight: 700!important;
    padding: 0 20px;
    margin-bottom: 20px !important;
}

.cnt-top p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px!important;
}



/* Card section */

.design-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.card a {
    text-decoration: none;
}

.card img {
    margin: 0 auto;
}

.card-txt{
    color: #824179;
    display: block;
    width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 30px 6px 30px;
}

.card-txt span {
    
}